  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #999999;
    
  }
  
  .logo {
    width: 80px;
  }
  
  .search-bar {
    flex: 1;
    margin: 0 20px;
    padding: 5px;
  }
  
  .profile-pic {
    width: 80px;
    border-radius: 50%;
  }